@import "../../../variables.scss";

.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $space-m;
  width: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-m;
    background-color: rgba($color-gray-100, 0.4);
    padding: $space-m;
    border-radius: $radius-x-round;
    z-index: 100;
    transition: $transition-normal;
    user-select: none;

    &.fan {
      background-color: rgba($color-yellow-700, 0.4);
    }
  }

  &-label {
    font-family: $font-family-curly;
  }
}

.wiggle {
  animation: wiggle 0.3s ease-in-out 2;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
